/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rebeccapurple;
  /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rebeccapurple;
}

.htmlMain {
  display: flex;
  position: relative;
  background-image: url("./assets/asset_bg.jpg");
  height: 100vh;
}

.menuCon {
  margin-top: 10px;
}

.menuCon > ul {
  position: relative;
}

.menuCon > ul::before {
  content: "";
  position: absolute;
  left: 1.75rem;
  height: 100%;
  width: 10px;
  background-color: #506882;
  border-radius: 10px;
}

.menuCon > ul > li {
  position: relative;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
}

.menuCon > ul > li::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 10%;
  height: 2px;
  border-radius: 20px;
  background-color: rebeccapurple;
  transition: all ease-in-out 0.25s;
}

.menuCon > ul > li:hover::before {
  width: 50%;
}

.mainMenu {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainMenu > .logo {
  box-shadow: 0 0 5px black;
  background-color: white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  overflow: hidden;
}

.mainMenu > .opts > ul {
  margin-top: 10px;
  padding: 10px;
  list-style: none;
  border-radius: 25px;
  box-shadow: 0 0 5px black;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainMenu > .opts > ul > li {
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainMenu > .opts > ul > li > button {
  color: white;
  width: 100%;
  height: 100%;
}

.mainCon {
  margin-left: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 400px) {
  .mainCon {
    margin-left: unset;
  }
}

.mainHeader {
  box-shadow: 0 0 5px black;
  position: relative;
  border-radius: 25px;
  backdrop-filter: blur(20px);
  z-index: 1;
}

.progressBar {
  flex: 1;
  padding: 5px;
  border-radius: 25px;
  background-color: white;
}

.progressView {
  width: 50%;
  background-color: black;
  border-radius: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userAvatar {
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: all ease 0.25s;
}

.userAvatar:hover {
  box-shadow: 0 0 10px black;
}

.userOpts {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rebeccapurple;
  border-radius: 10px;
  list-style: none;
  padding: unset;
  transform-origin: 0 -10%;
  transition: all ease 0.25s;
  box-shadow: 0 0 10px black;
}

.userOpts::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-80%, -50%) rotate(45deg);
  width: 20px;
  height: 20px;
  background-color: rebeccapurple;
  z-index: -1;
}

.userOpts > li {
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
}

.userOpts > li:hover {
  background-color: white;
  color: black;
}

.userOpts > li:first-child {
  border-radius: 10px 10px 0 0;
}

.userOpts > li:last-child {
  border: unset;
  border-radius: 0 0 10px 10px;
}

.userOpts > li:last-child:hover {
  background-color: white;
  color: red;
}

.userOpts > li > span {
  margin-left: 10px;
}

.mainBody {
  border-radius: 25px;
  /* background-color: white; */
  backdrop-filter: blur(50px);
  box-shadow: 0 0 5px black;
  margin-top: 10px;
  flex-shrink: 1;
  overflow: hidden;
}

.mainBodyCon {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  overflow: hidden;
  display: flex;
}

.bodyContent {
  overflow-y: auto;
  transition: all ease-in-out 0.25s;
}

.bodyTitle {
  position: sticky;
  top: -10px;
  background-color: white;
}

.bodyImage > img {
  max-width: 100%;
}

.codeCon {
  position: relative;
  width: calc(50% - 10px);
  margin-left: 10px;
  background-color: orange;
  transition: all ease-in-out 0.25s;
  display: flex;
  flex-direction: column;
}

.codeCon .commands {
  border-left: 10px solid green;
  background-color: black;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 1;
}

.codeCon .commands .MuiSwitch-track {
  background-color: white !important;
}

.codeCon .editor {
  flex: 1;
  border-left: 10px solid green;
  display: flex;
  line-height: 21px;
  overflow: auto;
}

.codeCon .editor .line-numbers {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: black;
  min-height: 100%;
  height: fit-content;
}

.line-numbers span {
  counter-increment: linenumber;
}

.line-numbers span::before {
  content: counter(linenumber);
  display: block;
  color: #506882;
}

.codeCon .editor > textarea {
  flex: 1;
  resize: none;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  line-height: 21px;
  padding: 10px;
  overflow: hidden;
}

.resCon {
  height: 100%;
  width: calc(50% - 10px);
  border-radius: 0 25px 25px 0;
  display: inline-flex;
  margin-left: 10px;
  transition: all ease-in-out 0.25s;
  align-items: center;
  justify-content: center;
}

.resCon > iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .htmlMain {
    height: unset;
  }
  .mainBody {
    overflow: unset;
  }
  .mainHeader {
    position: sticky;
    top: 5px;
  }
  .mainBodyCon {
    flex-direction: column;
    padding: 10px;
  }
  .bodyContent {
    width: 100% !important;
    height: unset;
    overflow: unset;
  }
  .codeCon {
    width: 100% !important;
    margin-left: unset;
  }
  .resCon {
    margin-left: unset;
    border-radius: 0 0 25px 25px;
    background-color: orange;
    width: 100% !important;
  }
}
