.htmlMain {
  display: flex;
  position: relative;
}

.mainMenu {
  width: 20%;
  border-radius: 25px;
  box-shadow: 0 0 5px black;
  overflow: hidden;
  transition: all ease-in-out 0.25s;
  margin-right: 50px;
}

.mainCon {
  flex: 1;
  background-color: white;
}
